force-app/main/default/flows/Create_Tournament_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create Tournament Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tournament Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CT_Stadiums_Picker</name>
        <label>CT Stadiums Picker</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CT_Teams_Picker</targetReference>
        </connector>
        <fields>
            <name>CT_Stadiums_Picker_Table</name>
            <extensionName>c:tournamentStadiumsPickerCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CT_Teams_Picker</name>
        <label>CT Teams Picker</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CT_Teams_To_Groups_Assigner</targetReference>
        </connector>
        <fields>
            <name>CT_Teams_Picker_Table</name>
            <extensionName>c:tournamentTeamsPickerCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CT_Teams_To_Groups_Assigner</name>
        <label>CT Teams To Groups Assigner</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CT_Teams_To_Groups</name>
            <extensionName>c:teamsGroupsAssignmentCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedTeams</name>
                <value>
                    <elementReference>CT_Teams_Picker_Table.selectedTeams</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tournamentTitle</name>
                <value>
                    <elementReference>CT_Tournament_Title_Input</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStadiums</name>
                <value>
                    <elementReference>CT_Stadiums_Picker_Table.selectedStadiums</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CT_Tournament_Title_Capture</name>
        <label>CT Tournament Title Capture</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CT_Stadiums_Picker</targetReference>
        </connector>
        <fields>
            <name>CT_Tournament_Title_Input</name>
            <dataType>String</dataType>
            <fieldText>Tournament Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CT_Welcome</name>
        <label>CT Welcome</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CT_Tournament_Title_Capture</targetReference>
        </connector>
        <fields>
            <name>CT_Welcome_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;Welcome to Athletic Analysis Application&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Create a tournament and unleash the potential for your competition!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CT_Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
